@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #080202;
    font-family: "Mochiy Pop P One", sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next{
    color: #db241b;
}

.swiper-button-prev{
    color: #db241b;
}

.swiper-pagination.bullet{
    background-color: #d3d2d2;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #db241b;
}

.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
}
menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1{
    width: 0;
}

.logo-2{
    width: 150px;
}

.social{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
}

.social:hover{
    background-color: #db241b;
}

.social img{
    margin: 8px 0 0 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #db241b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider{
    display: flex;
    align-items: center;
}

.slider.txt{
    margin-left: 85px;
    width: 50px;
}

.slider-txt h1{
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt  p{
    font-size: 18px;
    color: #a7a7a7;

}

.botones{
    margin-top: 50px;
}

.btn-1{
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #db241b;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover{
    border: 2px solid #db241b;
    background-color: #db241b;
}

.slider-img{
    width: 50px;
}

.slider-img img{
    margin-right: 225px;
    width: 550px;
}